* {
  margin: 0;
}

header {
  background-color: #4860aa;
  color: #fff;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 10px;
}

header ul {
  list-style: none;
  display: flex;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header li {
  padding-right: 90px;
  padding-left: 50px;
}

.logo {
  width: 68px;
}

main {
  background-color: #f7f8fa;
  text-align: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

footer {
  background-color: #212b4a;
  color: white;
  text-align: center;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}
